<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>update user</title>
</head>

<body>
    <div class="p-10 bg-zinc-900 w-full h-screen text-white">
        <!-- <a class="mb-3 text-amber-600 inline-block" href="/read">Check all users</a> -->
        <h1 class="text-3xl font-mono mb-10 ">Update User</h1>
        <form action="/update/<%= editUser._id %>" method="post">
            <input class="px-3 py-2 bg-zinc-800 rounded-lg outline-none mr-3" type="text" placeholder="Enter name" name="username" value="<%= editUser.username %>">
            <input class="px-3 py-2 bg-zinc-800 rounded-lg outline-none mr-3" type="email" placeholder="Enter Email" name="email" value="<%= editUser.email %>">
            <input class="px-3 py-2 bg-zinc-800 rounded-lg outline-none mr-3" type="text" placeholder="Enter image URL" name="image" value="<%= editUser.image %>">
            <input class="bg-amber-500 px-5 py-2 rounded-lg text-black font-bold " value="Update User" type="submit">
        </form>
    </div>

</body>

</html>